/*#region 样式初始化 */

/*重置0点,初始化样式*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*先将内容页隐藏*/
#swiper {
	/*display:none;*/
}
/*#endregion */

/*#region 底部导航栏样式 */

/*nav样式*/
#nav {
	position: absolute; /*绝对定位*/
	bottom: 0;
	width: 100%;
}

/*nav>ul样式*/
#nav > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	}
/*nav>ul li样式*/
	#nav > ul > li {
		/*transition: background linear 10s;*/ /*动画*/
		-webkit-box-flex: 1;
		text-align: center;
		height: 60px;
		/*background: #87f0d3;*/
		border-right: 1px solid #30fafd;
		border-top: 1px solid #30fafd;
		box-sizing: border-box; /*内容包含边框*/
		background-repeat: no-repeat; /*图片拉伸*/
		background-size: 70% 70%;
		background-position: 50% 1%;
		line-height: 90px;
	}

/*默认选中样式*/
		#nav > ul > li.selected {
			border-bottom: 8px solid #18d9fd;
		}

/*背景图片*/
#nav > ul > li:nth-child(1) {
		background-image: url("../svg/home.svg");
	}

#nav > ul > li:nth-child(2) {
		background-image: url("../svg/sales.svg");
	}

#nav > ul > li:nth-child(3) {
		background-image: url("../svg/pie_chart.svg");
	}

#nav > ul > li:nth-child(4) {
		background-image: url("../svg/settings.svg");
		border-right: none;
	}


/*#endregion */

/*#region 高度设置 */

#container > .swiper-container {
	height: calc(100vh - 60px);
}

/*头部*/
header {
	height: 120px;
	width: 100%;
}

/*记账*/
#section1-swiper {
	height:calc(100vh - 150px - 40px);
}

/*资金*/
#section2-swiper {
	height: calc(100vh - 90px - 60px);
}
/*报表*/
#section3-swiper {
	height: calc(100vh - 120px - 60px);
}

/*设置*/
#section4-swiper {
	height: calc(100vh - 195px - 60px);
}

#section1-swiper .swiper-wrapper, #section2-swiper .swiper-wrapper, #section4-swiper .swiper-wrapper {
	height: 100%;
	margin-left: 0px;
}

#section1-swiper .swiper-slide, #section2-swiper .swiper-slide, #section4-swiper .swiper-slide {
	font-size: 18px;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

/*#endregion */

/*#region 记账界面样式 */

/*=========================记账==============================*/

/*记账隐藏*/
#btn-new {
	/*display: none;*/
}

#section1 header::after {
	content: '';
	display: block;
	clear: both; /* 清除浮动 */
}

/* 当前余额 */
#section1 dt:nth-of-type(1) {
	width: 70%;
	margin: 10px auto;
	height: 60px;
	border: 1px solid #30fafd; /*边框*/
	border-radius: 200px; /*圆角*/
	background-color: #fff;
	background-image: url(../svg/sales.svg);
	background-repeat: no-repeat; /*不重复*/
	background-size: 16%;
	background-position-y: 5px;
	background-position-x: 20px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #999;
	font-size: 20px;
}

	#section1 dt:nth-of-type(1):active { 
		background-color: #ccc;
	}

#section1 dd:nth-of-type(1) {
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #333;
	font-size: 26px;
	margin-top: -40px;
	pointer-events: none;
}

/* 本月收入 */
#section1 dt:nth-of-type(2) {
	width: 50%;
	float: left; /*左浮动*/
	height: 60px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #999;
	font-size: 20px;
}

#section1 dd:nth-of-type(2) {
	width: 50%;
	position: absolute;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #333;
	font-size: 26px;
	margin-top: 24px;
}
/* 本月支出 */
#section1 dt:nth-of-type(3) {
	width: 50%;
	float: left; /*左边浮动*/
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #999;
	font-size: 20px;
}

#section1 dd:nth-of-type(3) {
	width: 50%;
	position: absolute;
	right: 0;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '微软雅黑';
	color: #333;
	font-size: 26px;
	margin-top: 24px;
}

#section1 li > span {
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
}

/*小圆点*/
#section1 li.date > span {
	background-image: url(svg/icon-day.svg);
}

#btn-new {
	display: block;
	position: absolute;
	color: transparent;
	background-image: url(../svg/pencil.svg);
	background-size: 100%;
	width: 60px;
	height: 60px;
	top: 11px;
	right: 15%;
	/*border:1px solid #399ef3;*/
	border-radius: 60px;
}

#section1 {
	background-image: url(../svg/sline.svg);
	background-repeat: no-repeat;
	background-position-y: 20px;
}

/*记账明细*/
#section1-swiper li {
	height: 60px;
}

#section1-swiper li > samp.iconfont {
	display: block;
	width: 40px;
	height: 100%;
	text-align: center;
	line-height: 60px;
}

#section1-swiper li {
	display: flex;
}

	#section1-swiper li > time, #section1-swiper li > div {
		flex: 1;
	}

#section1-swiper li > time {
	line-height: 60px;
	visibility: hidden;
}

#section1-swiper li > div, #section1-swiper li > div > span, #section1-swiper li > div > p {
	white-space: nowrap; 
	overflow: hidden;
	font-size: 14px;
}

#section1-swiper li.date > time {
	visibility: visible;
	text-align: right;
}
	/*画圆点*/
#section1-swiper li.date > span.iconfont {
	background-image: url(../svg/icon-day.svg);
}

#section1-swiper li.date > div {
	line-height: 60px;
}
	/*分割线*/
	/*#swiper0 li.date {
    border-top:1px solid #CCCCCC; 
    }*/
	/*相关收入*/
#section1-swiper li.in {
	flex-direction: row-reverse; /*反转*/
}

	#section1-swiper li.in > div {
		text-align: right;
	}
/*图标颜色*/
.color1 {
	color: #fb7575;
}

.color2 {
	color: #3c68c3;
}

.color3 {
	color: #ff8968;
}

.color4 {
	color: #8bb94a;
}

.color5 {
	color: #8a4aa5;
}

.color6 {
	color: #e260d0;
}
/*#region 修改前的代码 */

/*记账头部*/
/*#section1 > header {
	height: 120px;
	padding-top: 10px;
	box-sizing: border-box;
	background: none;
}

#section1 > header dl {
	margin: 0;
	}

#section1 > header dt:first-child {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #e5dfdf;
	border-radius: 30px;
	height: 70px;
	color: #aaa;
	background-image: url(../svg/sales.svg);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position: 45px 6px;
	font-family: "黑体";
	font-size: 16px;
	line-height: 30px;
	padding-left: 60px;
	box-sizing: border-box;
	}*/
/*收入和支出*/
/*#section1 > header dt:nth-of-type(2), #section1 > header dt:nth-of-type(3) {
	display: inline-block;
	width: 49%;
	text-align: center;
	}*/
/*main高度*/
/*#section1-swiper {
	height: calc(100vh - 180px);
}*/

/*#endregion */
/*=========================记账==============================*/
/*#endregion */

/*#region 我好难啊 */

/*////////////////////////////////////*/
/*/ \                              / /*/
/*/   \                           /  /*/
/*/            I'm so hard.          /*/
/*/             我好难啊             /*/
/*/                                  /*/
/*/   /                          \   /*/
/*/ /                              \ /*/
/*////////////////////////////////////*/

/*#endregion */

/*#region 资金界面样式 */

/*头部样式*/
#section2 > header {
	height: 90px;
	display: flex; /*弹性盒模型*/
	border-bottom: 1px solid #30fafd;
}
#section2 .swiper-slide {
	height:auto;
}

#section2 > header > span {
	flex: 1;
	font-size: 22px;
	font-weight: bold;
	line-height: 80px;
	color: #787474;
	padding: 10px;
	text-align: center;
}

#section2 > header > a {
	width: 100px;
	color: #d52b2b;
	font-weight: bold;
	text-decoration: none;
	line-height: 120px;
	font-size:20px;
	text-align:right;
	padding-right:20px;
	}

	#section2 > header > a::before {
		content: "\e60d";
		font-family: "iconfont" !important;
		font-size: 30px;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
		display: block;
		position: absolute;
		height: 90px;
		margin: -1px auto;
		line-height: 100px;
		padding-left: 10px;
		border-left: 1px solid #cafafb;
	}

#section2 > header > a {
	float: right;
	line-height: 100px;
	}

#section2 > header > a:active {
	background-color: #ccc;
	}

/*main样式*/

#section2-swiper li{
	height:70px;
	line-height:75px;
	width:100%;
	color:black;
	border-radius:15px;
	font-family:"楷体";
	margin-top:10px;
	float:left;
}

#section2-swiper span {
	float:right;
	margin-right:8px;
}

/*给li设置背景色*/
#section2-swiper li:nth-child(1) {
	background:#4cdef0;
	margin-top:10px;
}
#section2-swiper li:nth-child(2) {
	background:#4bd9f9;
}

#section2-swiper li:nth-child(3) {
	background: #21b6ea;
}

#section2-swiper li:nth-child(4) {
	background: #8fcaf7;
}
#section2-swiper li:nth-child(5) {
	background: #b0d0f8;
}
#section2-swiper li:nth-child(6) {
	background: #22f7df;
}
#section2-swiper a {
	text-decoration:none;/*超链接去下划线*/
}
/*添加资金账户*/
.add>a::before {
    content:url(../svg/type/add.svg);
    background-repeat:no-repeat;
      
}
.add {
   background-color:#78acfa;
   text-align:center;
   
}
/*#endregion */

/*#region 报表界面样式 */
/*头部样式*/
#section3 header nav {
	height: 80px;
	line-height: 80px;
	text-align: center;
}

#section3 header nav a {
	text-decoration: none;
	border: 1px solid #ccc;
	color: #ccc;
	padding: 4px;
	}

#section3 .swiper-slide {
	height:auto;
}

#section3 a:nth-of-type(1) {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#section3 a:nth-of-type(2) {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#section3 .selected {
	color: red;
	border-color: red;
}


/*年份*/

#section3 header div {
	height: 75px;
	display: flex;
	text-align: center;
}

#section3 #btn_prev_month {
	flex: 1;
	float: left;
	line-height: 30px;
}


#section3 #lbl_month {
	width: 100px;
	line-height: 30px;
}

#section3 #btn_next_month {
	flex: 1;
	float: right;
	line-height: 30px;
}

#section3-swiper #canvasLi {
	margin: 0;
	padding: 0;
	border:0;
}

#section3-swiper #canvasLi {
	height: 340px;
	width: 100%;
	background-color: white;
}

#section3-swiper li {
	height: 60px;
	border-bottom: 1px solid #ccc;
	display: flex;
	text-align: center;
}

	#section3-swiper li:nth-of-type(2) {
		margin-top: 10px;
	}

#section3-swiper span:nth-of-type(1) {
	width: 30px;
	line-height: 50px;
}

#section3-swiper span:nth-of-type(2) {
	width: 60px;
	line-height: 50px;
}

#section3-swiper span:nth-of-type(3) {
	width: 60px;
	line-height: 50px;
	flex: 1;
}

#section3-swiper span:nth-of-type(4) {
	width: 45px;
	line-height: 50px;
}

#section3-swiper span:nth-of-type(5) {
	width: 20px;
	line-height: 50px;
}
    


/*#endregion */

/*#region 设置界面样式 */

/*头部样式*/
#section4 > header {
	height: 200px;
	width: 100%;
	background-image: url('../img/background.jpg');
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	margin-top:-30px;
	color:white;
	font-size:25px;
}
/*头像样式*/
#section4 > header img {
	text-align: center;
	margin-top: 30px;
	border-radius: 50%;
	border: 4px solid #fff;
	color: #ccc;
	font-size: 1rem;
	height: 100px;
	}

/*main样式*/
#section4-swiper li {
	height: 60px;
	line-height: 60px;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 0.5px solid #95f2f6;
}

#section4-swiper .group {
	border-bottom: 3px solid #95f2f6;
}

#section4-swiper li > span:nth-of-type(2) {
	float: right;
	padding-right: 20px;
}
#section4-swiper li::after {
	content: '';
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	float: right;
	margin-right: 10px;
	color: #95f2f6;
}

/*#region 注释代码 */
/*#section4 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#section4 ul > li {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 10%;
		display: inline-block;
		background-color: lightgray;
		color: black;
		margin-bottom: 1px;
	}

#section4 > header figure {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-image: url('../img/background.jpg');
	box-sizing: border-box;
	padding-left: 35%;
	padding-top: 40px;
	margin-bottom: 5px;
}


#section4 > header > figure img {
	border-radius: 70px;
}

#section4 > header > figure figcaption {
	font-size: 35px;
	color: white;
}

#section4 {
	height: calc(100vh - 60px);
}

	#section4 main {
		height: calc(100vh - 310px);
	}*/
/*#endregion */
/*#endregion */

/*#region 媒体查询 */
/*提示语隐藏*/
#no-support {
	display: none;
}

/*当处于PC端的情况下，提示语出现*/
@media (min-width:767px) {
	#no-support {
		display: block;
		font-size: 1.8rem;
		text-align: center;
		line-height: 100vh;
	}

	#container {
		display: none;
	}
}
/*#endregion */


